#banner-wrap h1{
    font-size: 72px;
    color: #fff;
}

#banner-wrap p{
    font-size: 24px;
    color: #FFF;
}

#banner-wrap {
	height: 100vh;
	font-family:  "Helvetica Neue";
}

#banner-canvas{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#banner-carousel{
	height: 100%;
}

.carousel-inner{
	height: 100%;
}

.carousel-item{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.carousel-indicators .active{
    background-color: #f98125;
  }
  