.portfolio-main .nav-pills>li.active>a,
.portfolio-main .nav-pills>li.active>a:focus,
.portfolio-main .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #2c599d
}

.portfolio-main .nav-pills>li>a {
    border-radius: 0
}

.portfolio-main .nav>li>a {
    position: relative;
    display: block;
    padding: 5px 15px;
    color: #fff;
    background-color: #f98125
}

.portfolio-main .nav-pills>li {
    margin-right: 20px;
    display: inline-block;
    float: none
}

.portfolio-main .nav {
    margin-bottom: 30px;
    text-align: center
}

.portfolio-main .portfolio-item {
    box-shadow: 3px 3px 5px #afafaf5c
}

.portfolio-main .portfolio-item .image a {
    display: table;
    height: 470px;
    width: 100%;
    position: relative;
    overflow: hidden
}

.portfolio-main .portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 8px;
    -webkit-transition: all ease-in-out 3.2s;
    -moz-transition: all ease-in-out 3.2s;
    -o-transition: all ease-in-out 3.2s;
    transition: all 2s ease 0s;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.portfolio-main .portfolio-item:hover img {
    top: 100%;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all ease-in-out 4.2s;
    -moz-transition: all ease-in-out 4.2s;
    -o-transition: all ease-in-out 4.2s;
    transition: all 3s ease 0s
}

.portfolio-main .portfolio-item .card-title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 15px 0
}

.portfolio-main .view-more {
    clear: both;
    padding-top: 30px;
    text-align: center
}

.portfolio-main .view-more .btn {
    border: 0;
    border-radius: 0;
    background: #f98125;
    color: #fff
}

.portfolio-main .view-more .btn:hover {
    background: #337ab7
}

.portfolio-main .card-body {
    text-align: center;
}

.portfolio-main .view-detail.btn {
    border: 0;
    border-radius: 0;
    background: #f98125;
    color: #fff;
    margin-bottom: 20px;
}

.portfolio-main .view-detail.btn:hover {
    background: #337ab7
}

@media (min-width:200px) {
    .portfolio-main .nav-pills>li {
        margin-top: 20px;
    }
}

#pills-tabContent {
    clear: both;
}

.header-search-box {
    border-radius: 0;
    background-color: #fff;
    border: 0 solid #e3e4e6;
    position: relative;
    display: block;
    width: 300px;
    height: 40px;
    line-height: 35px;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    float: right;
    margin-bottom: 30px;
}

.header-search-input {
    background-color: #f5f5f5;
    color: #000!important;
    position: relative;
    top: 0;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    width: 100%;
    height: 35px;
    line-height: 1.3;
    padding: 0 40px 0 12px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    height: 40px;
    border-radius: 0;
}

.header-search-box a {
    height: 22px;
    line-height: 22px;
}

.header-search-box i {
    color: #000;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    width: 40px;
    height: 35px;
    line-height: 35px;
    margin-right: 0;
    z-index: 9;
}