.elementor-1358 .elementor-element.elementor-element-736ccb0 .elementor-author-box__avatar img{width:108px;height:108px;border-radius:50px;}.elementor-1358 .elementor-element.elementor-element-736ccb0 .elementor-author-box__name{color:#D5132A;}