/*------------------------------------------------------------------
[Master Stylesheet]
Theme Name:
Version:        1.0.0
Author:         themexriver
URL:            http://themeforest.net/user/themexriver
-------------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
#0.1	Theme Reset Style
#0.2	Global Elements
#0.3	header
#0.4	footer
----------------------------------------------------------------*/


/*---------------------------
	Fonts
----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*--------------------------------------------------------------
#0.1    Theme Reset Style
--------------------------------------------------------------*/

html {
    font-size: 18px;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    font-size: 18px;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

@media (max-width: 1199px) {
    body {
        font-size: 17px;
        font-style: 0.94444rem;
    }
}

@media (max-width: 991px) {
    body {
        font-size: 16px;
        font-style: 0.88889rem;
    }
}

p {
    color: #767878;
    line-height: 1.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #6e6e6e;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

a:hover,
a:focus {
    text-decoration: none;
}


/*--------------------------------------------------------------
#0.2    Global Elements
--------------------------------------------------------------*/

.page-wrapper {
    position: relative;
    overflow: hidden;
}

.section-padding {
    padding: 60px 0;
}

@media (max-width: 1199px) {
    .section-padding {
        padding: 100px 0;
    }
}

@media (max-width: 991px) {
    .section-padding {
        padding: 50px 0;
    }
}


/*** scrollbar style for chrome ***/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: #f98125;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.section-title .vertical-line h4 {
    color: #000000;
    font-weight: bold;
    display: inline-block;
    position: relative;
}

.section-title .vertical-line h4::after {
    content: "";
    height: 50px;
    width: 50px;
    position: absolute;
    border: 3px solid #f98125;
    top: -15px;
    left: -55px;
}

.section-title h2 {
    font-size: 28px;
    color: #11224D;
    display: inline-block;
    font-weight: bold;
}

@media (max-width: 1199px) {
    .section-title h2 {
        font-size: 40px;
        font-size: 2.22222rem;
    }
}

@media (max-width: 991px) {
    .section-title h2 {
        font-size: 35px;
        font-size: 1.94444rem;
        margin-top: 52px;
    }
}

@media (max-width: 767px) {
    .section-title h2 {
        font-size: 30px;
        font-size: 1.66667rem;
        padding: 8px 10px 3px;
        letter-spacing: 1px;
    }
}

@media (max-width: 767px) {
    .section-title h2 {
        margin-top: 45px;
    }
}

.social-links {
    overflow: hidden;
}

.social-links li {
    float: left;
}

.social-links li a {
    display: block;
    color: #fff;
    text-align: center;
}

.social-links li a:hover {
    background-color: #f98125;
}

.page-title {
    background: url("../images/page-title.jpg") center center/cover no-repeat local;
    height: 300px;
    text-align: center;
    position: relative;
    display: table;
    width: 100%;
}

@media (max-width: 1199px) {
    .page-title {
        height: 250px;
    }
}

.page-title:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.page-title .container {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.page-title h2,
.page-title ol {
    color: #fff;
}

.page-title h2 {
    font-size: 55px;
    font-size: 3.05556rem;
    font-weight: 600;
    margin: 0 0 0.5em;
    text-transform: none;
}

@media (max-width: 1199px) {
    .page-title h2 {
        font-size: 45px;
        font-size: 2.5rem;
    }
}

@media (max-width: 767px) {
    .page-title h2 {
        font-size: 40px;
        font-size: 2.22222rem;
    }
}

.page-title .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
    text-align: center;
}

.page-title .breadcrumb a {
    color: #fff;
}

.page-title .breadcrumb ul {
    display: inline-block;
}

.page-title .breadcrumb ul li {
    font-size: 18px;
    font-size: 1rem;
    color: #f98125;
    float: left;
    position: relative;
}

@media (max-width: 1199px) {
    .page-title .breadcrumb ul li {
        font-size: 16px;
        font-size: 0.88889rem;
    }
}

.page-title .breadcrumb ul>li+li {
    padding-left: 20px;
    margin-left: 20px;
}

@media (max-width: 1199px) {
    .page-title .breadcrumb ul>li+li {
        padding-left: 15px;
        margin-left: 15px;
    }
}

.page-title .breadcrumb ul>li+li:before {
    content: "/";
    position: absolute;
    left: -5px;
    top: 2px;
    color: #fff;
}

.preloader {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

.preloader .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.preloader .icon {
    display: block;
    width: 90px;
    height: 90px;
    position: relative;
}

.preloader .icon:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 5px solid #f1f1f1;
    border-top: 5px solid #f98125;
    border-radius: 50%;
    -webkit-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}

.preloader .icon i {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.preloader .icon i:before {
    font-size: 55px;
    font-size: 3.05556rem;
    color: #f98125;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate3d(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate3d(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
#0.3	header
--------------------------------------------------------------*/

.site-header {
    /* navigation open and close btn hide for width screen */
    /* style for navigation less than 992px */
    /*navbar collaps less then 992px*/
}

.site-header .icon-phone {
    color: #f98125;
}

.site-header .navigation {
    background-color: #fff;
    margin-bottom: 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.site-header .navigation>.container {
    position: relative;
}

.site-header #navbar {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    /*** mega-menu style ***/
}

.header-style-1 #navbar ul>li>a:hover {
    text-decoration: none;
    color: #f98125;
}

.top-fixed .navbar-default {
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 0 3px #212121;
    box-shadow: 0 0 3px #212121;
    z-index: 11;
}

.animated {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.animated {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@media screen and (min-width: 992px) {
    .site-header #navbar li {
        position: relative;
        margin: 0;
    }
    .site-header #navbar ul>li>a {
        font-size: 16px;
        font-size: 0.88889rem;
    }
    .site-header #navbar ul .sub-menu {
        background-color: #fff;
        width: 220px;
        border-top: 2px solid #f98125;
        position: absolute;
        left: 0;
        top: 130%;
        z-index: 110;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        transition: all 0.3s;
    }
    .site-header #navbar ul>li .sub-menu li {
        border-bottom: 1px solid #e6e6e6;
    }
    .site-header #navbar ul>li .sub-menu a {
        font-size: 14px;
        font-size: 0.77778rem;
        display: block;
        padding: 8px 15px;
    }
    .site-header #navbar>ul>li>.sub-menu .sub-menu {
        left: 110%;
        top: 0;
    }
    .site-header #navbar ul>li>.sub-menu>.menu-item-has-children>a {
        position: relative;
    }
    .site-header #navbar ul>li>.sub-menu>.menu-item-has-children>a:before {
        font-family: "FontAwesome";
        content: "\f105";
        font-size: 15px;
        font-size: 0.83333rem;
        position: absolute;
        right: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .site-header #navbar ul>li:hover>.sub-menu {
        top: 100%;
        visibility: visible;
        opacity: 1;
    }
    .site-header #navbar .sub-menu>li:hover>.sub-menu {
        left: 100%;
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width: 991px) {
    .site-header #navbar ul>li a {
        display: block;
        font-size: 14px;
        font-size: 0.77778rem;
    }
    .site-header #navbar ul>li .sub-menu li {
        border-bottom: 1px solid #e6e6e6;
    }
    .site-header #navbar ul .sub-menu>li:last-child {
        border-bottom: 0;
    }
    .site-header #navbar ul>li>.sub-menu a {
        padding: 8px 15px 8px 45px;
    }
    .site-header #navbar ul>li>.sub-menu .sub-menu a {
        padding: 8px 15px 8px 65px;
    }
    .site-header #navbar ul .menu-item-has-children>a {
        position: relative;
    }
    .site-header #navbar ul .menu-item-has-children>a:before {
        font-family: "FontAwesome";
        content: "\f107";
        font-size: 15px;
        font-size: 0.83333rem;
        position: absolute;
        right: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media (max-width: 991px) {
    .site-header #navbar .mega-menu .mega-menu-list-holder a {
        padding: 5px 15px 5px 40px;
    }
    .site-header #navbar .mega-menu .mega-menu-box-title {
        font-size: 14px;
        font-size: 0.77778rem;
        text-transform: uppercase;
        display: block;
        border-bottom: 1px dotted #b3b3b3;
        padding: 0 0 4px 5px;
        margin: 0 25px 8px 25px;
    }
}

@media screen and (min-width: 992px) {
    .site-header .navbar-header .open-btn {
        display: none;
    }
    .site-header #navbar .close-navbar {
        display: none;
    }
}

@media (max-width: 991px) {
    .site-header .container {
        width: 100%;
    }
    .site-header .navbar-header button {
        background-color: #f98125;
        width: 40px;
        height: 35px;
        border: 0;
        padding: 5px 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        outline: 0;
        position: absolute;
        right: 15px;
        top: 6px;
        z-index: 20;
    }
    .site-header .navbar-header button span {
        background-color: #fff;
        display: block;
        height: 2px;
        margin-bottom: 5px;
    }
    .site-header .navbar-header button span:last-child {
        margin: 0;
    }
    .site-header #navbar {
        background: #fff;
        display: block !important;
        width: 280px;
        height: 100vh !important;
        margin: 0;
        padding: 0;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        position: fixed;
        right: -300px;
        top: 0;
        z-index: 99999999;
    }
    .site-header #navbar ul a {
        color: #000;
    }
    .site-header #navbar ul a:hover,
    .site-header #navbar ul li.current a {
        color: #f98125;
    }
    .site-header #navbar .navbar-nav {
        height: 100%;
        overflow: auto;
    }
    .site-header #navbar .close-navbar {
        background-color: #f98125;
        width: 35px;
        height: 35px;
        color: #fff;
        border: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        outline: none;
        position: absolute;
        left: -18px;
        top: 10px;
        z-index: 20;
    }
    .site-header #navbar ul>li {
        border-bottom: 1px solid #cccccc;
    }
    .site-header #navbar ul>li>a {
        padding: 10px 15px 10px 35px;
    }
    .site-header .slideInn {
        right: 0 !important;
    }
}

@media (max-width: 767px) {
    .site-header .navbar-header .navbar-brand {
        font-size: 24px;
    }
    .site-header #navbar .navbar-nav {
        margin: 0;
    }
}

@media (max-width: 991px) {
    .site-header .navbar-collapse.collapse {
        display: none;
    }
    .site-header .navbar-collapse.collapse.in {
        display: block;
    }
    .site-header .navbar-header .collapse,
    .site-header .navbar-toggle {
        display: block;
    }
    .site-header .navbar-header {
        float: none;
    }
    .site-header .navbar-right {
        float: none;
    }
    .site-header .navbar-nav {
        float: none;
    }
    .site-header .navbar-nav>li {
        float: none;
    }
}


/*** header style 1 ****/

.header-style-1 .couple-logo {
    padding: 10px 0;
}

@media (max-width: 991px) {
    .header-style-1 .couple-logo {
        padding: 0;
    }
    .header-style-1 .couple-logo .img-logo {
        width: 100px;
    }
}

@media (max-width: 991px) {
    .header-style-1 .navigation {
        padding: 15px;
    }
}

.header-style-1 #navbar ul li.current-menu-item>a,
.header-style-1 #navbar ul li.current-menu-ancestor li.current-menu-item>a,
.header-style-1 #navbar ul li.current-menu-ancestor>a {
    color: #f98125;
}

@media (min-width: 992px) {
    .header-style-1 #navbar ul>li>a {
        font-size: 14px;
        font-weight: 600;
        color: #2C599D;
        padding: 35px 17px;
        text-transform: uppercase;
    }
    .header-style-1 #navbar ul .sub-menu {
        -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .header-style-1 #navbar ul>li .sub-menu a {
        font-size: 16px;
        font-size: 0.88889rem;
        color: #413d3d;
        padding: 10px 15px;
    }
    .header-style-1 #navbar ul>li .sub-menu a:hover {
        color: #f98125;
    }
    .header-style-1 #navbar ul>li:last-child>ul {
        left: auto;
        right: 0;
    }
    .header-style-1 #navbar ul>li:last-child>.sub-menu .sub-menu {
        left: auto;
        right: 100%;
    }
}

@media (max-width: 991px) {
    .header-style-1 .navbar-header button {
        top: -2px;
        right: 0;
    }
}


/*--------------------------------------------------------------
#0.4	footer
--------------------------------------------------------------*/

.site-footer {
    color: #fff;
    padding: 80px 0;
    position: relative;
}

.site-footer h3 {
    color: #11224D;
    font-size: 20px;
    font-weight: bold;
}

.site-footer h4 {
    color: #11224D;
    font-size: 16x;
    font-weight: bold;
}

.site-footer p {
    color: #9FA4BB;
    font-size: 14px;
    text-align: justify;
}

.site-footer .social-links {
    display: inline-block;
    margin-top: 15px;
}

.site-footer .social-links li {
    float: left;
    margin-right: 10px;
}

.site-footer .social-links li a {
    display: block;
    color: #B0B8BC;
    text-align: center;
    padding: 5px 10px;
}

@media (max-width: 1199px) {
    .site-footer {
        padding: 110px 0;
    }
}

@media (max-width: 991px) {
    .site-footer {
        padding: 90px 0;
    }
}

@media (max-width: 767px) {
    .site-footer {
        padding: 50px 0;
    }
}

.site-footer .back-to-top {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.site-footer .back-to-top a {
    display: inline-block;
    background: #f98125;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    color: #fff;
    line-height: 50px;
}

.site-footer .back-to-top .fi {
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 0;
    left: 11px;
}

.site-footer .back-to-top .fi:before {
    font-size: 27px;
    color: #000;
    text-shadow: 1px 1px 2px #000;
}

@-webkit-keyframes pointerMoving {
    0% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        opacity: 0.5;
    }
    80% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        opacity: 0.5;
    }
}

@keyframes pointerMoving {
    0% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        opacity: 0.5;
    }
    80% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        opacity: 0.5;
    }
}